
.completed-section{
  width: 400px;
  margin-right: 15px;
  margin-left: 15px;


}
.example-card {
  /* max-width: 400px; */
  /* text-align: left; */
  border: 2px solid red;
  width:300;
  margin-right: 2em;

}
mat-card-header{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.todo-list{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.mat-card-footer{
  display: flex;
  justify-content: space-between;
  margin: 0;

}
/* .priority-container{ */
/* } */

.priority{
  padding:8px;
  background-color: red;
  width: 5em;
  height: 2.2em;
  border-radius: 10%;
  text-align: center;
  /* justify-content: center;
  align-items: center; */

}
mat-icon:hover
{
  cursor:pointer;
  color: rgb(2, 45, 45);
}

.todo-section{
  width: 400px;

}
