.title{
  font-weight: bold;
  color:azure ;
}
.create-btn{
  /* padding: 3px; */
  margin: 5px;
  width: 72px;
  height: 32px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: lightblue;
  color: black;
}
.example-spacer {
  flex: 1 1 auto;
}

